@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@import "tailwindcss";

body {
	font-family: "Inter", sans-serif;
}

input,
code,
.mono {
	font-family: "JetBrains Mono", monospace;
}

.GLOBAL_loader_wrapper {
	width: 100%;
	height: 100%;
	cursor: progress;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: clip;
	opacity: 0;
	animation: animloaderwrap 0.6s ease-in-out forwards;
}

.GLOBAL_loader {
	width: 32px;
	height: 32px;
	display: inline-block;
	position: relative;
}

.GLOBAL_loader::after,
.GLOBAL_loader::before {
	content: '';
	box-sizing: border-box;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background: #7272ff;
	background: #a0a0ff;
	position: absolute;
	left: 0;
	top: 0;
	transform: scale(0);
	opacity: 1;
	animation: animloader 2s linear infinite;
}

.GLOBAL_loader::after {
	animation-delay: -1s;
}

@keyframes animloaderwrap {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes animloader {
	0% {
		transform: scale(0);
		opacity: 1;
	}

	100% {
		transform: scale(1);
		opacity: 0;
	}
}